# Ignore database folder that stores personal data (high score)
database/

# Ignore any cache folders that are created when running the game on PC
__pycache__/

# Ignore any cache files that are created when running the game on macOS
.DS_Store